.caselle {
  border: 2px, solid, transparent;
  background-color: blueviolet;
  width: 60px;
  height: 60px;
  text-align: center;
  display: inline-block;
}
.numeri {
  color: white;
  font-size: 1.5em;
}
